<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ours.contract.dao.ContractMapper">
    <resultMap id="BaseResultMap" type="com.ours.contract.entity.Contract">
        <!--@mbg.generated-->
        <!--@Table contract-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="designer_id" jdbcType="INTEGER" property="designerId"/>
        <result column="decoration_company_id" jdbcType="INTEGER" property="decorationCompanyId"/>
        <result column="staff_id" jdbcType="INTEGER" property="staffId"/>
        <result column="contract_number" jdbcType="VARCHAR" property="contractNumber"/>
        <result column="contract_name" jdbcType="VARCHAR" property="contractName"/>
        <result column="signing_time" jdbcType="TIMESTAMP" property="signingTime"/>
        <result column="validity_of_contract" jdbcType="VARCHAR" property="validityOfContract"/>
        <result column="due_time" jdbcType="TIMESTAMP" property="dueTime"/>
        <result column="content_of_contract" jdbcType="VARCHAR" property="contentOfContract"/>
        <result column="supplementary_contents_of_the_contract" jdbcType="VARCHAR"
                property="supplementaryContentsOfTheContract"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, designer_id, decoration_company_id, staff_id, contract_number, contract_name,
        signing_time, validity_of_contract, due_time, content_of_contract, supplementary_contents_of_the_contract
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from contract
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from contract
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ours.contract.entity.Contract">
        <!--@mbg.generated-->
        insert into contract (id, user_id, designer_id,
        decoration_company_id, staff_id, contract_number,
        contract_name, signing_time, validity_of_contract,
        due_time, content_of_contract, supplementary_contents_of_the_contract
        )
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{designerId,jdbcType=INTEGER},
        #{decorationCompanyId,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{contractNumber,jdbcType=VARCHAR},
        #{contractName,jdbcType=VARCHAR}, #{signingTime,jdbcType=TIMESTAMP}, #{validityOfContract,jdbcType=VARCHAR},
        #{dueTime,jdbcType=TIMESTAMP}, #{contentOfContract,jdbcType=VARCHAR},
        #{supplementaryContentsOfTheContract,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ours.contract.entity.Contract">
        <!--@mbg.generated-->
        insert into contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="designerId != null">
                designer_id,
            </if>
            <if test="decorationCompanyId != null">
                decoration_company_id,
            </if>
            <if test="staffId != null">
                staff_id,
            </if>
            <if test="contractNumber != null">
                contract_number,
            </if>
            <if test="contractName != null">
                contract_name,
            </if>
            <if test="signingTime != null">
                signing_time,
            </if>
            <if test="validityOfContract != null">
                validity_of_contract,
            </if>
            <if test="dueTime != null">
                due_time,
            </if>
            <if test="contentOfContract != null">
                content_of_contract,
            </if>
            <if test="supplementaryContentsOfTheContract != null">
                supplementary_contents_of_the_contract,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="designerId != null">
                #{designerId,jdbcType=INTEGER},
            </if>
            <if test="decorationCompanyId != null">
                #{decorationCompanyId,jdbcType=INTEGER},
            </if>
            <if test="staffId != null">
                #{staffId,jdbcType=INTEGER},
            </if>
            <if test="contractNumber != null">
                #{contractNumber,jdbcType=VARCHAR},
            </if>
            <if test="contractName != null">
                #{contractName,jdbcType=VARCHAR},
            </if>
            <if test="signingTime != null">
                #{signingTime,jdbcType=TIMESTAMP},
            </if>
            <if test="validityOfContract != null">
                #{validityOfContract,jdbcType=VARCHAR},
            </if>
            <if test="dueTime != null">
                #{dueTime,jdbcType=TIMESTAMP},
            </if>
            <if test="contentOfContract != null">
                #{contentOfContract,jdbcType=VARCHAR},
            </if>
            <if test="supplementaryContentsOfTheContract != null">
                #{supplementaryContentsOfTheContract,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ours.contract.entity.Contract">
        <!--@mbg.generated-->
        update contract
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="designerId != null">
                designer_id = #{designerId,jdbcType=INTEGER},
            </if>
            <if test="decorationCompanyId != null">
                decoration_company_id = #{decorationCompanyId,jdbcType=INTEGER},
            </if>
            <if test="staffId != null">
                staff_id = #{staffId,jdbcType=INTEGER},
            </if>
            <if test="contractNumber != null">
                contract_number = #{contractNumber,jdbcType=VARCHAR},
            </if>
            <if test="contractName != null">
                contract_name = #{contractName,jdbcType=VARCHAR},
            </if>
            <if test="signingTime != null">
                signing_time = #{signingTime,jdbcType=TIMESTAMP},
            </if>
            <if test="validityOfContract != null">
                validity_of_contract = #{validityOfContract,jdbcType=VARCHAR},
            </if>
            <if test="dueTime != null">
                due_time = #{dueTime,jdbcType=TIMESTAMP},
            </if>
            <if test="contentOfContract != null">
                content_of_contract = #{contentOfContract,jdbcType=VARCHAR},
            </if>
            <if test="supplementaryContentsOfTheContract != null">
                supplementary_contents_of_the_contract = #{supplementaryContentsOfTheContract,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ours.contract.entity.Contract">
        <!--@mbg.generated-->
        update contract
        set user_id = #{userId,jdbcType=INTEGER},
        designer_id = #{designerId,jdbcType=INTEGER},
        decoration_company_id = #{decorationCompanyId,jdbcType=INTEGER},
        staff_id = #{staffId,jdbcType=INTEGER},
        contract_number = #{contractNumber,jdbcType=VARCHAR},
        contract_name = #{contractName,jdbcType=VARCHAR},
        signing_time = #{signingTime,jdbcType=TIMESTAMP},
        validity_of_contract = #{validityOfContract,jdbcType=VARCHAR},
        due_time = #{dueTime,jdbcType=TIMESTAMP},
        content_of_contract = #{contentOfContract,jdbcType=VARCHAR},
        supplementary_contents_of_the_contract = #{supplementaryContentsOfTheContract,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="queryContractMessage" resultType="java.util.Map" parameterType="java.lang.Integer">
        select
        *
        from
        contract
        where
        contract_status in('进行中','异常终止')
        limit ${from},${pageSize};
    </select>
    <select id="queryContractMessageAll" resultType="java.lang.Integer">
      select
      count(*)
      from
      contract
      where
      contract_status in('进行中','异常终止')
    </select>
    <delete id="updateStatusById">
        update
        contract
        set
        contract_status=#{status}
        where
        id=#{id}
    </delete>
    <select id="queryContractTimeById" resultType="java.util.Map">
        select
        *
        from
        contract
        where
        contract_number=#{num}
    </select>
    <select id="queryAll" resultType="java.util.Map" parameterType="java.lang.Integer">
        select
        *
        from
        contract
        limit ${from},${pageSize};
    </select>
    <select id="queryAllCount" resultType="java.lang.Integer">
    select
    count(*)
    from
    contract
    </select>
    <select id="queryBySql" resultType="java.util.Map" parameterType="java.lang.String">
        ${_parameter}
    </select>
    <select id="queryBySql1" resultType="java.lang.Integer" parameterType="java.lang.String">
        ${_parameter}
    </select>
</mapper>