<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ours.contract.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.ours.contract.entity.User">
        <!--@mbg.generated-->
        <!--@Table user-->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="userid_title" jdbcType="VARCHAR" property="useridTitle" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, phone, email, `password`, `status`, url, userid_title
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ours.contract.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user (username, phone, email,
        `password`, `status`, url,
        userid_title)
        values (#{username,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
        #{useridTitle,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ours.contract.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="useridTitle != null">
                userid_title,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="useridTitle != null">
                #{useridTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ours.contract.entity.User">
        <!--@mbg.generated-->
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="useridTitle != null">
                userid_title = #{useridTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ours.contract.entity.User">
        <!--@mbg.generated-->
        update user
        set username = #{username,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        userid_title = #{useridTitle}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>