<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ours.userservice.mapper.DepartmentPermissionMapper">
    <resultMap id="BaseResultMap" type="com.ours.entity.DepartmentPermission">
        <!--@mbg.generated-->
        <!--@Table department_permission-->
        <result column="dep_id" jdbcType="INTEGER" property="depId"/>
        <result column="permission_id" jdbcType="INTEGER" property="permissionId"/>
    </resultMap>
    <insert id="insert" parameterType="com.ours.entity.DepartmentPermission">
        <!--@mbg.generated-->
        insert into department_permission (dep_id, permission_id)
        values (#{depId,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.ours.entity.DepartmentPermission">
        <!--@mbg.generated-->
        insert into department_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="depId != null">
                dep_id,
            </if>
            <if test="permissionId != null">
                permission_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="depId != null">
                #{depId,jdbcType=INTEGER},
            </if>
            <if test="permissionId != null">
                #{permissionId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>