<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ours.userservice.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.ours.entity.Permission">
    <!--@mbg.generated-->
    <!--@Table permission-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName"/>
    <result column="permission_value" jdbcType="VARCHAR" property="permissionValue"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, permission_name, permission_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ours.entity.Permission">
    <!--@mbg.generated-->
    insert into permission (id, permission_name, permission_value
    )
    values (#{id,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{permissionValue,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.ours.entity.Permission">
    <!--@mbg.generated-->
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="permissionValue != null">
        permission_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionValue != null">
        #{permissionValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ours.entity.Permission">
    <!--@mbg.generated-->
    update permission
    <set>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionValue != null">
        permission_value = #{permissionValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ours.entity.Permission">
    <!--@mbg.generated-->
    update permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
    permission_value = #{permissionValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectStaffAllPermission" parameterType="string" resultMap="BaseResultMap">
    select * from permission where id in (
        select permission_id from department_permission where dep_id in (
    select dep_id from staff_dep where job_number = #{jobNumber} ) group by permission_id
    )
  </select>
</mapper>