<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ours.userappservice.mapper.DesignerMapper">
    <resultMap id="BaseResultMap" type="com.ours.entity.Designer">
        <!--@mbg.generated-->
        <!--@Table designer-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="designer_job" jdbcType="VARCHAR" property="designerJob"/>
        <result column="designer_name" jdbcType="VARCHAR" property="designerName"/>
        <result column="designer_phone" jdbcType="VARCHAR" property="designerPhone"/>
        <result column="designer_email" jdbcType="VARCHAR" property="designerEmail"/>
        <result column="designer_password" jdbcType="VARCHAR" property="designerPassword"/>
        <result column="designer_status" jdbcType="VARCHAR" property="designerStatus"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="join_data" jdbcType="DATE" property="joinData"/>
        <result column="dismission_date" jdbcType="DATE" property="dismissionDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, designer_job, designer_name, designer_phone, designer_email, designer_password,
        designer_status, role_name, url, join_data, dismission_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from designer
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from designer
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ours.entity.Designer"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into designer (designer_job, designer_name, designer_phone,
        designer_email, designer_password, designer_status,
        role_name, url, join_data,
        dismission_date)
        values (#{designerJob,jdbcType=VARCHAR}, #{designerName,jdbcType=VARCHAR}, #{designerPhone,jdbcType=VARCHAR},
        #{designerEmail,jdbcType=VARCHAR}, #{designerPassword,jdbcType=VARCHAR}, #{designerStatus,jdbcType=VARCHAR},
        #{roleName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{joinData,jdbcType=DATE},
        #{dismissionDate,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ours.entity.Designer"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into designer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="designerJob != null">
                designer_job,
            </if>
            <if test="designerName != null">
                designer_name,
            </if>
            <if test="designerPhone != null">
                designer_phone,
            </if>
            <if test="designerEmail != null">
                designer_email,
            </if>
            <if test="designerPassword != null">
                designer_password,
            </if>
            <if test="designerStatus != null">
                designer_status,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="joinData != null">
                join_data,
            </if>
            <if test="dismissionDate != null">
                dismission_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="designerJob != null">
                #{designerJob,jdbcType=VARCHAR},
            </if>
            <if test="designerName != null">
                #{designerName,jdbcType=VARCHAR},
            </if>
            <if test="designerPhone != null">
                #{designerPhone,jdbcType=VARCHAR},
            </if>
            <if test="designerEmail != null">
                #{designerEmail,jdbcType=VARCHAR},
            </if>
            <if test="designerPassword != null">
                #{designerPassword,jdbcType=VARCHAR},
            </if>
            <if test="designerStatus != null">
                #{designerStatus,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="joinData != null">
                #{joinData,jdbcType=DATE},
            </if>
            <if test="dismissionDate != null">
                #{dismissionDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ours.entity.Designer">
        <!--@mbg.generated-->
        update designer
        <set>
            <if test="designerJob != null">
                designer_job = #{designerJob,jdbcType=VARCHAR},
            </if>
            <if test="designerName != null">
                designer_name = #{designerName,jdbcType=VARCHAR},
            </if>
            <if test="designerPhone != null">
                designer_phone = #{designerPhone,jdbcType=VARCHAR},
            </if>
            <if test="designerEmail != null">
                designer_email = #{designerEmail,jdbcType=VARCHAR},
            </if>
            <if test="designerPassword != null">
                designer_password = #{designerPassword,jdbcType=VARCHAR},
            </if>
            <if test="designerStatus != null">
                designer_status = #{designerStatus,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="joinData != null">
                join_data = #{joinData,jdbcType=DATE},
            </if>
            <if test="dismissionDate != null">
                dismission_date = #{dismissionDate,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ours.entity.Designer">
        <!--@mbg.generated-->
        update designer
        set designer_job = #{designerJob,jdbcType=VARCHAR},
        designer_name = #{designerName,jdbcType=VARCHAR},
        designer_phone = #{designerPhone,jdbcType=VARCHAR},
        designer_email = #{designerEmail,jdbcType=VARCHAR},
        designer_password = #{designerPassword,jdbcType=VARCHAR},
        designer_status = #{designerStatus,jdbcType=VARCHAR},
        role_name = #{roleName,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        join_data = #{joinData,jdbcType=DATE},
        dismission_date = #{dismissionDate,jdbcType=DATE}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectAllDesigner" resultMap="BaseResultMap">
    select * from designer
  </select>
    <update id="updateDesignerStatus">
        update designer set designer_status=#{status} ,dismission_date=#{dismissionDate} where designer_job=#{jobNumber}
    </update>
    <update id="updateRoleName">
        update designer set role_name=(
        select staff_role_value from staff_role where staff_role_name=#{roleName}
        ) where designer_job=#{jobNumber}
    </update>
    <select id="selectJobNumber" resultMap="BaseResultMap">
        select * from designer where designer_job=#{jobNumber}
    </select>
</mapper>